
body{
    margin: 20px;
    background-color: #1f1f1f;
    color:rgb(255, 255, 255);
}
.image-container{
    float: right;
    margin: 10px;
    width: 275px;
    text-align: center;
}
.image-container img{
    max-width: 100%;
    height: auto;
    display: block;
}
.caption{
    font-size: 14px;
    color: antiquewhite;
}
.homeButton {
    padding: 10px 20px;
    background-color: #707070;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    float: right;

    box-shadow: 0 5px 0 #4f4f4f;
    transition: all 0.1s ease;
}

.homeButton:active{
    box-shadow: 0 2px 0 #4f4f4f;
    transform : translateY(3px);
}

.hr{
    border: 0;
    height: 3px;
}

.belowHR{
    background-color: #2d2d2d;
    margin-right: 295px;
}