
body {
  margin: 0;
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: #555555;
}

.homeButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #707070;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    right: 20px;
    position: fixed;
}

.contact-box {
  background-color: white;
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-box h1 {
  margin-top: 0;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
