body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
}

#album-buttons {
    margin-bottom: 20px;
}

#album-buttons button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#album-buttons button:hover {
    background-color: #45a049;
}

#image-gallery {
    margin-top: 30px;
}

#image-gallery img {
    max-width: 90%;
    height: auto;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
