.album {
    margin: 20px;
    text-align: center;
  }
  
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel img {
    width: 300px;
    height: auto;
    border-radius: 8px;
  }
  
  button {
    background-color: transparent;
    border: none;
    font-size: 2em;
    cursor: pointer;
  }
  